* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #CED4DA;
    font-family: 'Grandstander', cursive;
    text-align: center;
}
#header {
    background-color: #E9ECEF;
    height: 50px;
}
.links {
    text-decoration: none;
    background-color: #495057;
    color: #E9ECEF;
    line-height: 2em;
    padding: 12px;
    border-radius: 20%;
}
.links:hover {
    background-color: #343A40
}
h1 {
    color: #343A40;
    padding: 50px;
}
h4{
    font-size: larger;
    color: #495057;
    margin-bottom: 20px;
}
#foto {
    border-radius: 50%;
}
#linkTrybe {
    text-decoration: none;
    color: #588157;
    font-weight: 900;
}
p {
    color: #6C757D;
    margin-bottom: 10px;
}
.skills-header {
    color: #495057;
    font-weight: 700;
    margin-bottom: 20px;
}

.picture-section {
    display: inline-block;
    padding: 1px;
    background-color: darkslategrey;
}

.description {    
    display: inline-block;
    width: 25%;
    vertical-align:top;
    padding:2%;
}
.skills-section {
    clear: both;
    margin-top: 20px;
    background-color: #E9ECEF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.external-links {
    padding-top: 20px;
    padding-bottom: 20px;
}
ul li:nth-child(odd) {
    background-color: #6C757D;
    margin: auto;
}